.homepage-layout {
    display: flex;
    width: 100%;
}

.main-content {
  margin-left: 600px; 
  padding: 2rem;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 250px;
    height: calc(100vh - 60px);  
    background-color: #f8f8f8;
    border-right: 1px solid #e0e0e0;
    padding: 0.5rem;
    overflow-y: auto;
    z-index: 100;
}

.sidebar-content {
    overflow-y: auto;
}


.sidebar h3 {
    margin-bottom: 1rem;
    color: #333;
}

.card {
    background-color: white;
    padding: 0.05rem 1rem;
    border-radius: 8px;
    margin-bottom: 0.75rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    cursor: pointer;
    transition: all 0.2s ease;
}

.card:hover {
    background-color: rgb(180, 110, 230);
    transform: translateX(4px);
    color: white
}

.content-wrapper {
    align-items: center;
  max-width: 1000px;
  margin: 0 auto;  
}

.add-course {
    color: blue
}