.sidebar-button {
    margin-top: 1rem;
}

.course-add {
    display: block;
    text-align: center;
    padding: 0.6rem;
    color: rgb(205, 139, 241);
    background-color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.2s ease;
}

.course-add:hover {
    background-color: rgb(180, 110, 230);
    color: white
}